{
    "mappings": {
        "battery.charge": "Battery Charge",
        "battery.charge.low": "Battery Charge Low",
        "battery.charge.warning": "Battery Charge Warning",
        "battery.date": "Battery Date",
        "battery.mfr.date": "Battery Manufactured Date",
        "battery.runtime": "Battery Runtime",
        "battery.runtime.low": "Battery Runtime Low",
        "battery.type": "Battery Type",
        "battery.voltage": "Battery Voltage",
        "battery.voltage.nominal": "Battery Voltage Nominal",
        "device.mfr": "Manufacturer",
        "device.model": "Model",
        "device.serial": "Serial Number",
        "device.type": "Type",
        "driver.name": "Driver",
        "driver.parameter.pollfreq": "Polling Frequency",
        "driver.parameter.pollinterval": "Polling Interval",
        "driver.parameter.port": "Port",
        "driver.parameter.synchronous": "Synchronous",
        "driver.version": "Driver Version",
        "driver.version.data": "Driver Data",
        "driver.version.internal": "Driver Internal Version",
        "input.sensitivity": "Input Sensivity",
        "input.transfer.high": "Input Transfer High",
        "input.transfer.low": "Input Transfer Low",
        "input.voltage": "Input Voltage",
        "input.voltage.nominal": "Input Voltage Nominal",
        "ups.beeper.status": "UPS Beeper Status",
        "ups.delay.shutdown": "UPS Delay Shutdown",
        "ups.firmware": "UPS Firmware",
        "ups.firmware.aux": "UPS Firmware Auxillary",
        "ups.load": "UPS Load",
        "ups.mfr": "UPS Manufacturer",
        "ups.mfr.date": "UPS Manufacture Date",
        "ups.model": "UPS Model",
        "ups.productid": "UPS Product ID",
        "ups.realpower.nominal": "UPS Real Power Nominal",
        "ups.serial": "UPS Serial Number",
        "ups.status": "UPS Status",
        "ups.test.result": "UPS Test Result",
        "ups.timer.reboot": "UPS Timer Reboot",
        "ups.timer.shutdown": "UPS Timer Shutdown",
        "ups.vendorid": "UPS Vender ID"
    }
}