@media all {
    html, button, input, select, textarea, .pure-g [class *="pure-u"] {
        font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    }

    body {
        font-size: 1rem;
        line-height: 1.3rem;
        margin: 1.3rem;
        max-width: 72rem;
    }

    pre, code {
        font-family: "IBM Plex Mono", "Consolas", "Monaco", monospace;
    }

    h1 {
        font-size: 1.5rem;
        font-weight: 700;
    }

    h2 {
        font-size: 1.25rem;
        font-weight: 700;
        margin: 1.5rem 0 1rem;
    }

    h3 {
        font-size: 1.175rem;
        font-weight: 700;
    }

    h4 {
        font-size: 1.1rem;
        font-weight: 500;
    }

    table.pure-table {
        max-width: 72rem;
    }

    table.pure-table td {
        vertical-align: top;
    }

    table.pure-table thead, table.pure-table tfoot {
        background-color: lightgray !important;
        font-weight: 700;
        text-align: center;
        vertical-align: middle;
    }

    table.pure-table td ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    table.pure-table col.label {
        width: 15rem;
    }

    table.pure-table col.device {
        width: 20rem;
    }

    td.no-data {
        background-color: rgb(240, 240, 240);
    }

    footer {
        font-size: 90%;
        line-height: 1.25rem;
        margin-top: 1.5rem;
    }

    footer #timestamp, footer #version {
        display: inline-block;
    }
}
